<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <settings>
      <setting name="FederatedAuthentication.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <!-- Below settings describes your Azure AD settings -->
      <setting name="azureAD:IdentityProviderName" value="DemoDev.azureAD"/>
      <!-- Replace below client id with your azure application ID -->
      <setting name="azureAD:ClientId" value="53ebae80-db16-489e-b839-ce771d3c4439" />
      <setting name="azureAD:Instance" value="https://login.microsoftonline.com/{0}" />
      <!-- Replace below Tenant with your azure AD domain -->
      <setting name="azureAD:Tenant" value="DemoDev.onmicrosoft.com" />
      <!-- Sitecore instance login url-->
      <setting name="azureAD:PostLogoutRedirectUri" value="http://localhost:8084/sitecore/login/" />
      <!-- Sitecore instance Url-->
      <setting name="azureAD:RedirectUri" value="http://localhost:8084/sitecore/" />
    </settings>
    <pipelines>
      <owin.identityProviders>
        <!-- This is the custom processor that gets executed when azure AD posts the token to Sitecore -->
        <processor type="Demo.Foundation.Accounts.Infrastructure.Pipelines.IdentityProviders.AzureADIdentityProvider, Demo.Foundation.Accounts" resolve="true" />
      </owin.identityProviders>
    </pipelines>
    <services>
      <register serviceType="Sitecore.Abstractions.BaseAuthenticationManager, Sitecore.Kernel"
                implementationType="Sitecore.Owin.Authentication.Security.AuthenticationManager, Sitecore.Owin.Authentication" lifetime="Singleton"/>
      <register serviceType="Sitecore.Abstractions.BaseTicketManager, Sitecore.Kernel"
                implementationType="Sitecore.Owin.Authentication.Security.TicketManager, Sitecore.Owin.Authentication" lifetime="Singleton"/>
      <register serviceType="Sitecore.Abstractions.BasePreviewManager, Sitecore.Kernel"
                implementationType="Sitecore.Owin.Authentication.Publishing.PreviewManager, Sitecore.Owin.Authentication" lifetime="Singleton"/>
    </services>
    <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
      <identityProviders hin="list:AddIdentityProvider">
        <identityProvider id="DemoDev.azureAD" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
          <param desc="name">$(id)</param>
          <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
          <caption>Sign-in with Azure Active Directory</caption>
          <domain>sitecore</domain>
          <icon>/sitecore/shell/themes/standard/Images/24x24/msazure.png</icon>
          <transformations hint="list:AddTransformation">
            <!-- you need to have and Idp Claim for this to work -->
            <transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />
            <!-- This is to transform your Azure group into Sitecore Role. The claim value below is the object id of the role that needs to be copied from Azure -->
            <transformation name="DemoAdvancedContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Demo Advanced Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="DemoContentApprovers" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Demo Content Approvers" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="DemoContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="c7516c41-25dd-4dd0-8fc8-719937336ae0" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Demo Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="DemoContentPublisher" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Demo Content Publisher" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="DemoLimitedContentPublisher" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Demo Limited Content Publisher" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="AnnouncementsPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Announcements Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="BSActivePharmaceticalIngredientsPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\BS Active Pharmacetical Ingredients Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="BSAgriculturalProtectionProductsPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\BS Agricultural Protection Products Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="BSNutritionalsPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\BS Nutritionals Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="BSPharmaceuticalIntermediatesPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\BS Pharmaceutical Intermediates Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="BSSpecialtyChemicalsPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\BS Specialty Chemicals Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="CareersPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Careers Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="CompanyOverviewPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Company Overview Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="ContactUsPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Contact Us Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsAllPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations All Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsFrancePagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations France Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsHamburgPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Hamburg Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsHamburgQualitManagementPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Hamburg Quality Management Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsHeadquartersPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Headquarters Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsIndiaPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations India Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsNetherlandsPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Netherlands Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsPhilippinesPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Philippines Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsShanghaiPagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Shanghai Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="LocationsSingaporePagesContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Locations Singapore Pages Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="PrivacyPolicyPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Privacy Policy Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="ProductAnnouncementsPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Product Announcements Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="ProductArticlesPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Product Articles Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="QualityAssurancePageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Quality Assurance Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="QualityPolicyPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Quality Policy Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="RegulatorySupportPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Regulatory Support Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="TermsofUsePageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Terms of Use Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="TradeshowsPageContentAuthor" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="" />
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="sitecore\Tradeshows Page Content Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
            <transformation name="name" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"/>
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="FullName"/>
              </targets>
            </transformation>
          </transformations>
        </identityProvider>
      </identityProviders>
      <!-- Property initializer assigns claim values to sitecore user properties -->
      <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
        <maps hint="list">
          <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
              <!--property name-->
              <target name="Email" />
            </data>
          </map>
          <map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="FullName" />
              <!--property name-->
              <target name="FullName" />
            </data>
          </map>
        </maps>
      </propertyInitializer>
      <identityProvidersPerSites>
        <mapEntry name="all" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
          <sites hint="list">
            <site>shell</site>
            <site>login</site>
            <site>admin</site>
            <site>service</site>
            <site>modules_shell</site>
            <site>modules_website</site>
            <site>website</site>
            <site>scheduler</site>
            <site>system</site>
            <site>publisher</site>
          </sites>
          <!-- Registered identity providers for above providers -->
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='DemoDev.azureAD']" />
          </identityProviders>
          <!-- ExternalUserBuilder is what creates a user with customusername in Sitecore and assigns roles based on claim transformation configured above -->
          <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication" resolve="true">
            <param desc="isPersistentUser">true</param>
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
  </sitecore>
</configuration>