<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.WebApp" description="Sitecore Web Application" patch:after="configuration[@name='Foundation.Serialization']" extends="Helix.Base">
          <predicate>
            <include name="Project.Content" database="master" path="/sitecore/content/WebApp" />
            <include name="Project.Layouts" database="master" path="/sitecore/layout/Layouts/Project/WebApp"/>
            <include name="Project.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/WebApp" />
            <include name="Project.Renderings" database="master" path="/sitecore/layout/Renderings/Project/WebApp"/>
            <include name="Project.Media" database="master" path="/sitecore/media library/WebApp" />
            <include name="Project.Templates" database="master" path="/sitecore/templates/Project/WebApp"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>